<!DOCTYPE html>
<html>
<head>
	<title>拼图游戏</title>
	<meta charset="utf-8">
	<script src="vue.min.js"></script>
	<style type="text/css">
		*{margin: 0;padding: 0;}
		ul{list-style: none;}
		#app{
			width:1020px;
			height: 600px;
			margin: auto;
			position: relative;
			top: 50px;

		}
		.nav{
			width: 200px;
			height: 416px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			
		}

		.nav li{
			width:200px;
			height: 132px;
			border-radius: 10px;
			overflow: hidden;
			opacity: 0.7;
			cursor: pointer;
		}
		.opa{
			opacity: 1 !important;
		}
		.nav li img{
			width:100%;
			height: 100%;
		}
		
		button{
			width:100px;
			height: 35px;
			border: none;
			cursor: pointer;
			font-size: 16px;
			color: white;
			background-color: orange;
			border: 2px solid red;
			border-radius: 5px;
			position: relative;
			left:50px;
			top: 50px;
			opacity: 0.7;
		}
		button:hover{
			opacity: 1;

		}
		.content{
			width:800px;
			height: 529px;
			border: 5px solid lightgray;
			border-radius: 15px;
			margin: auto;
			float: right;
			position: absolute;
			top: 0;
			right: 0;
			overflow: hidden;
		}
		.content li{
			width:200px;
			height: 133px;
			position: absolute;
			
		}
		.content li img{
			width:100%;
			height: 100%;

		}
		
	</style>
</head>
<body>
	<div id="app">
		<!-- 左侧 -->
		<ul class="nav">
			<li v-for="li in obj.li" @click="fn(li.index)" :class="{opa:li.opa}"><img :src="li.img"></li>
		</ul>
		<!-- 按钮 -->
		<button @click="fn2">{{obj.message}}</button>
		<!-- 大图 -->
		<ul class="content">
			<li v-for="li in obj.ul" @mousedown.stop.prevent="down(li.index)"  @mouseup.stop.prevent="leave(li.index)"><img :src="li.img"></li>
		</ul>
	</div>
	<script type="text/javascript">
		var vm=new Vue({
			el:"#app",
			data:{
				starttime:0,//开始时间
				endtime:0,//结束时间
				obj:{
					message:'开始游戏',
					start:false,//判断是否开始
					index:0,//左侧菜单栏的index
					down:false,//判断鼠标是否按下
					listartx:0,//鼠标点击时的位置
					listarty:0,//鼠标点击时的位置
					liendx:[],//鼠标抬起的位置
					liendy:[],//鼠标抬起的位置
					liindex:0,//点击图片的位置
					x:0,
					y:0,

					li:[
						{index:0,img:"imgs/puzzle/puz_one.jpg",opa:true},
						{index:1,img:"imgs/puzzle/puz_two.jpg",opa:false},
						{index:2,img:"imgs/puzzle/puz_three.jpg",opa:false}
					],
					ul:[
						{index:0,img:"imgs/puzzle/puz1_01.jpg"},
						{index:1,img:"imgs/puzzle/puz1_02.jpg"},
						{index:2,img:"imgs/puzzle/puz1_03.jpg"},
						{index:3,img:"imgs/puzzle/puz1_04.jpg"},
						{index:4,img:"imgs/puzzle/puz1_05.jpg"},
						{index:5,img:"imgs/puzzle/puz1_06.jpg"},
						{index:6,img:"imgs/puzzle/puz1_07.jpg"},
						{index:7,img:"imgs/puzzle/puz1_08.jpg"},
						{index:8,img:"imgs/puzzle/puz1_09.jpg"},
						{index:9,img:"imgs/puzzle/puz1_10.jpg"},
						{index:10,img:"imgs/puzzle/puz1_11.jpg"},
						{index:11,img:"imgs/puzzle/puz1_12.jpg"},
						{index:12,img:"imgs/puzzle/puz1_13.jpg"},
						{index:13,img:"imgs/puzzle/puz1_14.jpg"},
						{index:14,img:"imgs/puzzle/puz1_15.jpg"},
						{index:15,img:"imgs/puzzle/puz1_16.jpg"}
					]
				},
				uu:[
					{ul1:[
					{index:0,img:"imgs/puzzle/puz1_01.jpg"},
					{index:1,img:"imgs/puzzle/puz1_02.jpg"},
					{index:2,img:"imgs/puzzle/puz1_03.jpg"},
					{index:3,img:"imgs/puzzle/puz1_04.jpg"},
					{index:4,img:"imgs/puzzle/puz1_05.jpg"},
					{index:5,img:"imgs/puzzle/puz1_06.jpg"},
					{index:6,img:"imgs/puzzle/puz1_07.jpg"},
					{index:7,img:"imgs/puzzle/puz1_08.jpg"},
					{index:8,img:"imgs/puzzle/puz1_09.jpg"},
					{index:9,img:"imgs/puzzle/puz1_10.jpg"},
					{index:10,img:"imgs/puzzle/puz1_11.jpg"},
					{index:11,img:"imgs/puzzle/puz1_12.jpg"},
					{index:12,img:"imgs/puzzle/puz1_13.jpg"},
					{index:13,img:"imgs/puzzle/puz1_14.jpg"},
					{index:14,img:"imgs/puzzle/puz1_15.jpg"},
					{index:15,img:"imgs/puzzle/puz1_16.jpg"}
			    ]},
			    {ul1:[
			    	{index:0,img:"imgs/puzzle/puz2_01.jpg"},
					{index:1,img:"imgs/puzzle/puz2_02.jpg"},
					{index:2,img:"imgs/puzzle/puz2_03.jpg"},
					{index:3,img:"imgs/puzzle/puz2_04.jpg"},
					{index:4,img:"imgs/puzzle/puz2_05.jpg"},
					{index:5,img:"imgs/puzzle/puz2_06.jpg"},
					{index:6,img:"imgs/puzzle/puz2_07.jpg"},
					{index:7,img:"imgs/puzzle/puz2_08.jpg"},
					{index:8,img:"imgs/puzzle/puz2_09.jpg"},
					{index:9,img:"imgs/puzzle/puz2_10.jpg"},
					{index:10,img:"imgs/puzzle/puz2_11.jpg"},
					{index:11,img:"imgs/puzzle/puz2_12.jpg"},
					{index:12,img:"imgs/puzzle/puz2_13.jpg"},
					{index:13,img:"imgs/puzzle/puz2_14.jpg"},
					{index:14,img:"imgs/puzzle/puz2_15.jpg"},
					{index:15,img:"imgs/puzzle/puz2_16.jpg"}
			    ]},
			    {ul1:[
			    	{index:0,img:"imgs/puzzle/puz3_01.jpg"},
					{index:1,img:"imgs/puzzle/puz3_02.jpg"},
					{index:2,img:"imgs/puzzle/puz3_03.jpg"},
					{index:3,img:"imgs/puzzle/puz3_04.jpg"},
					{index:4,img:"imgs/puzzle/puz3_05.jpg"},
					{index:5,img:"imgs/puzzle/puz3_06.jpg"},
					{index:6,img:"imgs/puzzle/puz3_07.jpg"},
					{index:7,img:"imgs/puzzle/puz3_08.jpg"},
					{index:8,img:"imgs/puzzle/puz3_09.jpg"},
					{index:9,img:"imgs/puzzle/puz3_10.jpg"},
					{index:10,img:"imgs/puzzle/puz3_11.jpg"},
					{index:11,img:"imgs/puzzle/puz3_12.jpg"},
					{index:12,img:"imgs/puzzle/puz3_13.jpg"},
					{index:13,img:"imgs/puzzle/puz3_14.jpg"},
					{index:14,img:"imgs/puzzle/puz3_15.jpg"},
					{index:15,img:"imgs/puzzle/puz3_16.jpg"}
			    ]}	


				]
				
				
			},
			methods:{
					//点击左侧边栏小图片的效果
				fn(index){
					//当前点击图片透明度为1
					for(var x=0;x<this.obj.li.length;x++){
							this.obj.li[x].opa=false;
						}
						this.obj.li[index].opa=true;
					//content图片变为相对应的侧边栏图片
					for(var i=0;i<this.obj.ul.length;i++){
						this.obj.ul[i].img=this.uu[index].ul1[i].img;
						this.obj.ul[i].index=this.uu[index].ul1[i].index;
					}
					//图片排列顺序还原
					var ul=document.getElementsByClassName("content")[0];
					var li=ul.getElementsByTagName("li");
					for(var i=0;i<li.length;i++){
						li[i].style.top=parseInt(i/4)*133+"px";
						li[i].style.left=i%4*200+"px";
					}
					this.obj.index=index;
					//停止游戏
					this.obj.start=false;
					this.obj.message='开始游戏';
				},

					//开始游戏/重新开始
				fn2(){
					var ul=document.getElementsByClassName("content")[0];
					var li=ul.getElementsByTagName("li");
					this.obj.start=!this.obj.start;
					//开始游戏
					if(this.obj.start==true){
						this.obj.message='重新开始';
						//调用随机数字函数
						var random=random(16);
						//打烂顺序
						 for(var i=0;i<16;i++){
						 	li[random[i]].style.top=parseInt(i/4)*133+"px";
							li[random[i]].style.left=i%4*200+"px";
						 }
						 //获取开始时间
						 this.starttime=new Date().getTime();
					}else {
						//重新开始
						this.obj.message='开始游戏';
						  //恢复顺序
						for(var i=0;i<li.length;i++){
								li[i].style.top=parseInt(i/4)*133+"px";
								li[i].style.left=i%4*200+"px";
						}
					}

					
				//封装函数
				function random(number){
 				//算出16个从0到15的随机数字
        			var arr1=new Array();
         			var arr2=new Array();  
        			 for(var i=0;i<number;i++){
         				arr1.push(i);//arr1[0,1,2,3.....,15]
        			 }
         			for(var k=0;k<number;k++){
         				//0到16的随机数字
         				var id=Math.floor(Math.random()*number);
         				//如果arr2中没有将要添加的数字，就将它加到arr1数组中
         				if(arr2.indexOf(arr1[id])===-1){
         					arr2.push(arr1[id]);
         				}else{
         				//否则这一步从新执行一遍
         				k=k-1;
         				continue;
         				}
         			}
         			return arr2//返回随机数字数组
				}

				},
				  //点击图片时
				down(index){
					var e=event||window.event;
					//获取点击位置
					this.obj.listartx=e.clientX;
					this.obj.listarty=e.clientY;
					//激活拖拽
					this.obj.down=true;
					//返回点击索引
					this.obj.liindex=index;	

					var ul=document.getElementsByClassName("content")[0];
					var li=ul.getElementsByTagName("li");
					var li2=li[index];
					//返回鼠标抬起位置
					this.obj.liendx[index]=li2.offsetLeft;
					this.obj.liendy[index]=li2.offsetTop;
					//当前点击图片覆盖其它图片，并删除过渡
					for(var i=0;i<16;i++){
						li[i].style.zIndex=5;
						li[i].style.transition="none";
					}
					li[index].style.zIndex=10;
					
				},

				   //鼠标抬起时
				leave(index){
					//停止拖拽
					this.obj.down=false;

					var e=event||window.event;
					var ul=document.getElementsByClassName("content")[0];
					var li=ul.getElementsByTagName("li");
					var width=li[0].offsetWidth;
					var height=li[0].offsetHeight;
					//判断图片拖到的位置，好确定鼠标松开时图片选择就近合适位置停下
					var x=(this.obj.x)/width;
					var y=(this.obj.y)/height;

					if(x<0.5){
						li[index].style.left=0+"px";
					}else if(x>=0.5&&x<1.5){
						li[index].style.left=width+"px";
					}else if(x>=1.5&&x<2.5){
						li[index].style.left=width*2+"px";
					}else if(x>=2.5&&x<3.5){
						li[index].style.left=width*3+"px";
					}else if(x>=3.5){
						li[index].style.left=width*3+"px";
					}

					if(y<0.5){
						li[index].style.top=0+"px";
					}else if(y>=0.5&&y<1.5){
						li[index].style.top=height+"px";
					}else if(y>=1.5&&y<2.5){
						li[index].style.top=height*2+"px";
					}else if(y>=2.5&&y<3.5){
						li[index].style.top=height*3+"px";
					}else if(y>=3.5){
						li[index].style.top=height*3+"px";
					}
					
					replace();
					//鼠标松开时图片停下位置的原图片让位置给现在的图片；
					function replace(){
						var arr=[];
						var a;
						for(var i=0;i<16;i++){
							//判断要让位置的图片索引
							if(li[i].offsetLeft===li[index].offsetLeft&&li[i].offsetTop===li[index].offsetTop&&i!==index){
								arr.push(i);
							    a=arr[0];						
							}
						}
							//让位置
						li[a].style.top=vm.obj.liendy[index]+"px";
						li[a].style.left=vm.obj.liendx[index]+"px";
						li[a].style.transition="0.5s";
					}

					//鼠标松开时所有图片的位置/顺序
					var endarrtleft=[];
					var endarrttop=[];
					//原所有图片的位置/顺序
					var originalleft=[];
					var originaltop=[];
					//延迟0.6秒再判断	
					setTimeout(function(){
						for(var i=0;i<16;i++){
							//获取位置
							endarrtleft.push(li[i].offsetLeft);
							endarrttop.push(li[i].offsetTop);
							originalleft.push(i%4*width);
							originaltop.push(parseInt(i/4)*height);
					 	}
					 		//返回
					 		vm.endarrtleft=endarrtleft;
							vm.endarrttop=endarrttop;
							vm.originalleft=originalleft;
							vm.originaltop=originaltop;
							
							//判断
							if(vm.obj.start==true&&endarrttop.toString()===originaltop.toString()&&endarrtleft.toString()===originalleft.toString()){
									vm.endtime=new Date().getTime();
									alert("拼图成功，用时"+(vm.endtime-vm.starttime)/1000+"秒");
					 		}
				
					},600)
							
				}

			},
			
			watch:{
				obj:{
					handler(n){
						var ul=document.getElementsByClassName("content")[0];
						var li=ul.getElementsByTagName("li");
						var body=document.documentElement||document.body;
						//图片移动
						body.addEventListener("mousemove",function(e){
							var e=e||window.event;
							//判断是否激活移动
							if(n.down==true){
								//得出移动值
								var x=e.clientX-n.listartx+n.liendx[n.liindex];
								//限制移动值
								if(x<=0){
									x=0;
								}else if(x>=li[0].offsetWidth*3){
									x=li[0].offsetWidth*3;
								}

								//得出移动值
								var y=e.clientY-n.listarty+n.liendy[n.liindex];
								//限制移动值
								if(y<=0){
									y=0;
								}else if(y>=li[0].offsetHeight*3){
									y=li[0].offsetHeight*3;
								}
								//移动
								li[n.liindex].style.left=x+"px";
								li[n.liindex].style.top=y+"px";
								//返回移动值
								n.x=x;
								n.y=y;
							}
				
						})
						
					},
					deep:true,
					// immediate:true
				}
			}
		})

		window.onload=function(){
			var div=document.getElementById("app");
			var ul=document.getElementsByClassName("content")[0];
			var li=ul.getElementsByTagName("li");
			var body=document.documentElement||document.body;
			//图片初始排列
			for(var i=0;i<li.length;i++){
				li[i].style.top=parseInt(i/4)*133+"px";
				li[i].style.left=i%4*200+"px";
			}
			//给liendx和liendy数组的长度变为16，且都为0；
			for(var i=0;i<li.length;i++){
				vm.obj.liendx.push(0);
				vm.obj.liendy.push(0);
			}

			//鼠标在屏幕上松开时停止移动，这个有点bug还未改
			body.addEventListener("mouseup",function(){
				vm.obj.down=false;
			})

		}
	</script>
	
</body>
</html>